{% extends "layout.html" %}
{% block title %}Bus Information{% endblock %}
{% block content %}
<meta http-equiv="refresh" content="30"/>
<div class="container body-content">
    <h2>Bus Information</h2>
    <div>
        <p>You entered postcode <span>{{ postcode }}</span></p>
    </div>
    {% for name, distance, buses in bus_times %}
        <div>
            <b>{{ name }}</b><br>
            {{ distance }} metres away<br>
            Next buses at<br>
            <ul>
                {% for operator_name, aimed_departure_time in buses %}
                    <li>{{ aimed_departure_time }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
</div>
{% endblock %}
