{% extends "layout.html" %}
{% block title %}Bus Information{% endblock %}
{% block content %}
<!--<meta http-equiv="refresh" content="30"/>-->
<meta/>
<div class="container body-content">
    <h2>Bus Information</h2>
    <div>
        <p>Postcode: <b><span>{{ postcode }}</span></b></p>
        <p>Bus times correct as of: <b><span id="time"></span></b></p>
    </div>
    <div>
        <p>{{ error_message }}</p>
    </div>
    {% for name, distance, buses in bus_times %}
        <div>
            <b>{{ name }}</b><br>
            {{ distance }} metres away<br>
            Next buses at<br>
            <ul>
                {% for operator_name, aimed_departure_time in buses %}
                    <li>{{ aimed_departure_time }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
</div>
<script language="javascript">
    var today = new Date();
    document.getElementById('time').innerHTML=today;
</script>
{% endblock %}
